body {
  max-width: 55em;
  margin: 0 auto;
  padding: 1em;
}

.text-centered { text-align: center; }
.text-italic { font-style: italic; }
.content { padding-top: 1em; }

.gradient-one { background-color: #AEB4B4; }
.gradient-two { background-color: #9BA09F; }
.gradient-three { background-color: #848A8B; }
/* Derived from .information-block's -webkit-padding-start: 40px */
.information-block h5 { padding-left: 23px; }
/* Identical to .information-block h5's -webkit-margin-before */
.information-block ul { margin-bottom: 1.67em; padding: 0 40px; }
.information-block ul li { list-style-type: circle; }
